body{
    margin: 0 auto;
    text-align: center;
    height:100%;
}
:root{
    --minion-yellow:rgb(245,224,80);
}

#inputTxt, #outputTxt{
    display:block;
    margin:1rem;
    padding:1rem;
    width:45%;
    height:80px;
    margin-left: auto;
    margin-right: auto;
    border:0.1rem solid var(--minion-yellow);
    background-image: url(images/minionEyes.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-size: larger;
    font-family:sans-serif;
    font-weight: 600;
}

#btn-translate{
    margin:1rem;
    padding:1rem;
    background-color: rgb(10,117,188);
    color: white;
}

.header, footer{
    background-color: var(--minion-yellow);
    margin:1rem;
    padding:1rem;
    width:60%;
    margin-left: auto;
    margin-right: auto;
}
.header{
    border: 0.2rem solid black;
    border-bottom: none;
}
.footer{
    border: 0.5rem solid rgb(10,117,188);
    border-top: none;
}

.img{
    width:100px;
    height:100px;
}
